{% extends "base.html" %}

{% block title %}HomeKitchen{% endblock title %}

{% block content %}
<style>
    .homecard:nth-child(1) {
        background-image: url("{{ url_for('static', filename='images/vendor-bg.jpg') }}");
    }

    .homecard:nth-child(2) {
        background-image: url("{{ url_for('static', filename='images/consumer-bg.jpg') }}");
    }

    .homecard:nth-child(3) {
        background-image: url("{{ url_for('static', filename='images/delivery-bg.jpg') }}");
    }
</style>

    <div class='homecard-container'>
        <div class='homecard'>
            <form action="{{ url_for('register') }}" method="get">
                <button type="submit" class="homecard-btn">Vendor</button>
            </form>
        </div>
        <div class='homecard'>  
            <form action="{{ url_for('register') }}" method="get">
                <button type="submit" class="homecard-btn">Consumer</button>
            </form>
        </div>
        <div class='homecard'>  
            <form action="{{ url_for('rider_kyc') }}" method="get">
                <button type="submit" class="homecard-btn">Delivery Partner</button>
            </form>
        </div>
    </div>
    
{% endblock content %}