{% extends "base.html" %}

{% block title %}HomeKitchen{% endblock title %}

{% block content %}
<style>
    .registercard{
        background-size: cover;
        background-position: center;
        background-image: url("{{ url_for('static', filename='images/register-bg.jpg') }}");
    }
</style>
<div class='registercard-container'>
    <div class='registercard'>
        <form action="{{ url_for('login') }}" method='POST'>
            <input type='email' placeholder='Email' name= 'Email'><br>
            <input type='password' placeholder='Password' name= 'Password'><br>
            <button class="registercard-button" type='submit'>Login</button>
        </form>
        <div style="display: inline-flex;">
            <p>New User?</p><a href="{{ url_for('register') }}">Click here to Register</a>
        </div>
    </div>
</div>
{% endblock content %}