{% extends "base.html" %}

{% block title %}HomeKitchen{% endblock title %}

{% block content %}
<div class='registercard-container'>
    <div class='registercard'>
        <form action="{{ url_for('rider_login') }}" method='POST'>
            <input type='email' placeholder='Email' name= 'Email'><br>
            <input type='password' placeholder='Password' name= 'Password'><br>
            <button class="registercard-button" type='submit'>Login</button>
        </form>
        <div style="display: inline-flex;">
            <p>New User?</p><a href="{{ url_for('rider_kyc') }}">Click here to Register</a>
        </div>
    </div>
</div>
{% endblock content %}