{% extends "base.html" %}
{% block title %}Rider KYC{% endblock title %}
{% block content %}
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <h2>Rider KYC Submission</h2>
    <div class='top-right-buttons'>
        <button onclick="location.href='{{ url_for('rider_login') }}'">Rider Login</button>
    </div>
    <div class="kyc-container">
        <form action="/rider_kyc" method="POST" enctype="multipart/form-data">
            <input type="text" id="name"  placeholder="Name" name="Name" required><br>
            <input type="tel" id="phone" placeholder="Phone" name="Phone" required><br>
            <input type="email" id="email" placeholder="Email" name="Email" required><br>
            <input type="password" id="password" placeholder="Password" name="Password" required><br>
            <select name= "Vehicle_type" style="font-weight: bold; color: #000; height: 35px; width: 30%;">
                <option value= 'two-wheeler'>Two Wheeler</option>
                <option value= 'four-wheeler'>Four Wheeler</option>
                <option value= 'cycle'>Cycle</option>                    
                <option value= 'by-foot'>By-Foot</option>
            </select>
            <input type='text' placeholder='Vehicle Number' name= 'Vehicle_number' style="width: 60%; padding: 4px 4px;"><br>
            <label>Identification Proof</label><br>
            <input type="file" id="id_proof" name="Id_proof" accept="image/*,.pdf" required><br>
            <label>Driver's License</label><br>
            <input type="file" id="license" name="License" accept="image/*,.pdf" required><br>

            <label>Vehicle Insurance</label><br>
            <input type="file" id="insurance" name="Insurance" accept="image/*,.pdf" required><br>
            <label>Upload recent image</label><br>
            <input type="file" id="photo" name="Photo" accept="image/*" required>
            <button type="submit">Submit KYC</button>
        </form>
    </div>

</div>
{% endblock content %}